<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="DefaultConnection" 
           connectionString="Server=127.0.0.1;Database=ahmedgalal_gulfscoop;User Id=ahmedgalal_gulfscoop; Password=Sico007_;" 
           providerName="System.Data.SqlClient" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey validationKey="DA756E53920D2A67B7D6596C8B6980B751C7035AB9EBC81A4D8FE02F9D36491135125B31C48DCB0365F6C86A1615C074F1F7E17C346F358FB0C49413DEF85C65" decryptionKey="11A6CC24C40FEB9161C160EF206DC2230DB6F03932F2AF85C2482490A0CD3725" validation="SHA1" decryption="AES" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseExpires"
        httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
    </staticContent>
  </system.webServer>
  <system.codedom xdt:Transform="Remove"></system.codedom>
</configuration>
