
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form action="/Admin/Wordpress/Index" method="post">
    <input type="text" name="wpPostID" />
    <input type="submit" value="GetPost" />
</form>

