
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form action="/Admin/Wordpress/Index" method="post">
    <input type="text" name="wpPostID" />
    <input type="submit" value="GetPost" />
</form>
<hr />
<form action="/Admin/Wordpress/ImportCategories" method="post">
    <input type="submit" value="Import Categories" />
</form>
<hr />
<form action="/Admin/Wordpress/ImportTags" method="post">
    <input type="submit" value="Import Tags" />
</form>

